{% extends 'base/index.html' %}

{% block content %}

    {% include 'base/header.html' %}

    <main class="main__content_wrapper">
        {% include 'home/_includes/_slider.html' %}

        {% include 'home/_includes/_categories.html' %}

        {% include 'home/_includes/_banner.html' %}

        {% include 'home/_includes/_populars.html' %}

        {% include 'home/_includes/_discount_banner.html' %}

        {% include 'home/_includes/_populars_with_category.html' %}

        {% include 'home/_includes/_deal_of_day.html' %}

        {% include 'home/_includes/_top_sale.html' %}

        {% include 'home/_includes/_product_showsale.html' %}

        {% include 'home/_includes/_blog.html' %}
    </main>

    {% include 'base/footer.html' %}

    {% include 'home/modals/quickview.html' %}
    {% include 'home/modals/entry.html' %}

{% endblock %}
