{% macro generate_menu_class(tab_name) %}
    {% set tab_class = "header__menu--link" %}
    {% if active_tab == tab_name or not active_tab and tab_name == 'home' %}
        {% set tab_class = tab_class ~ ' active' %}
    {% endif %}
    {% if white %}
        {% set tab_class = tab_class ~ ' text-white' %}
    {% endif %}
    class="{{ tab_class }}"
{% endmacro %}

<nav class="header__menu--navigation">
    <ul class="header__menu--wrapper d-flex">
        <li class="header__menu--items">
            <a {{ generate_menu_class('home') }} href="{{ url_for('dashboard') }}">
                Home
                <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                     height="7.41" viewBox="0 0 12 7.41">
                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                          transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"></path>
                </svg>
            </a>
            <ul class="header__sub--menu">
                <li class="header__sub--menu__items">
                    <a href="{{ url_for('dashboard') }}" class="header__sub--menu__link">Home One</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="index-2.html" class="header__sub--menu__link">Home Two</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="index-3.html" class="header__sub--menu__link">Home Three</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="index-4.html" class="header__sub--menu__link">Home Four</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="index-5.html" class="header__sub--menu__link">Home Five</a>
                </li>
            </ul>
        </li>

        <li class="header__menu--items mega__menu--items">
            <a {{ generate_menu_class('shop') }} href="shop.html">
                Shop
                <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                     height="7.41" viewBox="0 0 12 7.41">
                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                          transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"></path>
                </svg>
            </a>
            <ul class="header__mega--menu d-flex">
                <li class="header__mega--menu__li">
                    <ul class="header__mega--sub__menu">
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="shop.html">
                                Shop Left Sidebar
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="shop-right-sidebar.html">
                                Shop Right Sidebar
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="shop-grid.html">
                                Shop Grid
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="shop-grid-list.html">
                                Shop Grid List
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="shop-list.html">
                                Shop List
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="header__mega--menu__li">
                    <ul class="header__mega--sub__menu">
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="product-details.html">
                                Product Details
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="product-video.html">
                                Video Product
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="product-details.html">
                                Variable Product
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="product-left-sidebar.html">
                                Product Left Sidebar
                            </a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="product-gallery.html">
                                Product Gallery
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="header__mega--menu__li">
                    <ul class="header__mega--sub__menu">
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="my-account.html">My Account</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="my-account-2.html">My Account 2</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="404.html">404 Page</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="login.html">Login Page</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="faq.html">Faq Page</a>
                        </li>
                    </ul>
                </li>
                <li class="header__mega--menu__li">
                    <ul class="header__mega--sub__menu">
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="about.html">About Us</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="contact.html">Contact Us</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="portfolio.html">Portfolio</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="compare.html">Compare</a>
                        </li>
                        <li class="header__mega--sub__menu_li">
                            <a class="header__mega--sub__menu--title" href="checkout.html">Checkout</a>
                        </li>
                    </ul>
                </li>
                <li class="header__mega--menu__li fullscreen__style d-flex">
                    <a class="header__mega--menu__banner display-block" href="shop.html">
                        <img class="header__mega--menu__banner--img"
                             src="{{ url_for('static', path='assets/img/banner/banner1.webp') }}"
                             alt="banner-menu"
                        >
                        <div class="banner__content">
                            <span class="banner__content--subtitle text__secondary mb-10">20% off</span>
                            <h2 class="banner__content--title"><span
                                    class="banner__content--title__inner">New</span> COLLECTION
                            </h2>
                            <span class="banner__content--price">$22.99</span>
                        </div>
                    </a>
                    <a class="header__mega--menu__banner display-block" href="shop.html">
                        <img class="header__mega--menu__banner--img"
                             src="{{ url_for('static', path='assets/img/banner/banner2.webp') }}"
                             alt="banner-menu"
                        >
                        <div class="banner__content right">
                            <span class="banner__badge--style2">20% Off</span>
                            <h2 class="banner__content--title"><span
                                    class="banner__content--title__inner"> ON </span> SALE <br>
                                PRODUCT</h2>
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="header__menu--items">
            <a {{ generate_menu_class('accesories') }} href="shop.html">
                Accesories
            </a>
        </li>

        <li class="header__menu--items">
            <a {{ generate_menu_class('blog') }} href="blog.html">
                Blog
                <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                     height="7.41" viewBox="0 0 12 7.41">
                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                          transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"></path>
                </svg>
            </a>
            <ul class="header__sub--menu">
                <li class="header__sub--menu__items">
                    <a href="blog.html" class="header__sub--menu__link">Blog Grid</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="blog-details.html" class="header__sub--menu__link">Blog Details</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="blog-left-sidebar.html" class="header__sub--menu__link">Blog Left Sidebar</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="blog-right-sidebar.html" class="header__sub--menu__link">Blog Right Sidebar</a>
                </li>
            </ul>
        </li>

        <li class="header__menu--items">
            <a {{ generate_menu_class('pages') }} href="#">
                Pages
                <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                     height="7.41" viewBox="0 0 12 7.41">
                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                          transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"></path>
                </svg>
            </a>
            <ul class="header__sub--menu">
                <li class="header__sub--menu__items">
                    <a href="about.html" class="header__sub--menu__link">About Us</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="contact.html" class="header__sub--menu__link">Contact Us</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="cart.html" class="header__sub--menu__link">Cart Page</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="portfolio.html" class="header__sub--menu__link">Portfolio Page</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="wishlist.html" class="header__sub--menu__link">Wishlist Page</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="privacy-policy.html" class="header__sub--menu__link">Privacy Policy</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="login.html" class="header__sub--menu__link">Login Page</a>
                </li>
                <li class="header__sub--menu__items">
                    <a href="404.html" class="header__sub--menu__link">Error Page</a>
                </li>
            </ul>
        </li>

        <li class="header__menu--items">
            <a {{ generate_menu_class('contact') }} href="contact.html">
                Contact
            </a>
        </li>

    </ul>
</nav>